MetaTrader\MQL4\Files
MetaTrader\MQL4\Images
MetaTrader\MQL4\Include\Arrays
MetaTrader\MQL4\Include\Canvas
MetaTrader\MQL4\Include\ChartObjects
MetaTrader\MQL4\Include\Charts
MetaTrader\MQL4\Include\Controls
MetaTrader\MQL4\Include\Files
MetaTrader\MQL4\Include\Indicators
MetaTrader\MQL4\Include\Strings
MetaTrader\MQL4\Include\Tools
MetaTrader\MQL4\Libraries
MetaTrader\MQL4\Logs
MetaTrader\MQL4\Presets
MetaTrader\MQL4\Projects
MetaTrader\MQL4\Shared Projects